// Custom variable file only for customer to use
$theme-color: #FA6868;
$white: #ffffff;
$librebaskerville: 'Libre Baskerville', serif;
$proximanova: 'Proxima Nova Rg';
$proximanova600: 'Proxima Nova Lt';














































